
.rootPane {
    -fx-background-image: url("../images/eriantysLogo.png");
    -fx-background-size: stretch;
    -fx-fitHeight:"427.5";
    -fx-fitWidth:"901.0";
}

.playBtn {
    -fx-background-image: url("../images/playBtn.png");

    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.playBtn:hover {
    -fx-effect: dropshadow(gaussian, #f2e0d6, 20, 0.3, 0, 0);
    -fx-cursor: hand;
}