Label {
    -fx-background-repeat: no-repeat;
    -fx-min-width: 30px;
    -fx-min-height: 30px;
    -fx-background-position: center;
    -fx-background-size: 30px;
    -fx-color-label-visible: black;
}

.PINK {
    -fx-background-image: url("../images/assets/wood/student/SP.png");
}

.RED {
    -fx-background-image: url("../images/assets/wood/student/SR.png");
}

.YELLOW {
    -fx-background-image: url("../images/assets/wood/student/SY.png");
}

.GREEN {
    -fx-background-image: url("../images/assets/wood/student/SG.png");
}

.BLUE {
    -fx-background-image: url("../images/assets/wood/student/SB.png");
}

.WHITE {
    -fx-background-image: url("../images/assets/wood/tower/TWHITE.png");
}

.BLACK {
    -fx-background-image: url("../images/assets/wood/tower/TBLACK.png");
}

.GREY {
    -fx-background-image: url("../images/assets/wood/tower/TGREY.png");
}

.MOTHER {
    -fx-background-image: url("../images/assets/wood/MM.png");
}

.island1 {
    -fx-background-image: url("../images/assets/island/1.png");
}

.island2 {
    -fx-background-image: url("../images/assets/island/2.png");
}

.island3 {
    -fx-background-image: url("../images/assets/island/3.png");
}

.cloud1{
    -fx-background-image: url("../images/assets/cloud2/1.png");
}

.cloud2{
    -fx-background-image: url("../images/assets/cloud2/2.png");
}

.cloud3{
    -fx-background-image: url("../images/assets/cloud2/3.png");
}

.a1{
    -fx-background-image: url("../images/assets/assistant/1.png");
}

.a2{
    -fx-background-image: url("../images/assets/assistant/2.png");
}

.a3{
    -fx-background-image: url("../images/assets/assistant/3.png");
}

.a4{
    -fx-background-image: url("../images/assets/assistant/4.png");
}

.a5{
    -fx-background-image: url("../images/assets/assistant/5.png");
}

.a6{
    -fx-background-image: url("../images/assets/assistant/6.png");
}

.a7{
    -fx-background-image: url("../images/assets/assistant/7.png");
}

.a8{
    -fx-background-image: url("../images/assets/assistant/8.png");
}

.a9{
    -fx-background-image: url("../images/assets/assistant/9.png");
}

.a10{
    -fx-background-image: url("../images/assets/assistant/10.png");
}

.island {
    -fx-min-width: 150px;
    -fx-min-height: 150px;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
}

.cloud {
    -fx-min-width: 90px;
    -fx-min-height: 90px;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
}

.assistant {
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
}

.entrance{
    -fx-min-width: 60px;
    -fx-min-height: 200px;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
}

.room{
    -fx-min-width: 500px;
    -fx-min-height: 200px;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
}

.teachers{
    -fx-min-width: 30px;
    -fx-min-height: 200px;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
}

.towers{
    -fx-min-width: 120px;
    -fx-min-height: 200px;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
}

GridPane {
    -fx-hgap: 10px;
    -fx-vgap: 10px;
}