Label {
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 30px;
    -fx-color-label-visible: black;
}

.PINK {
    -fx-background-image: url("../images/assets/wood/student/SP.png");
}

.RED {
    -fx-background-image: url("../images/assets/wood/student/SR.png");
}

.YELLOW {
    -fx-background-image: url("../images/assets/wood/student/SY.png");
}

.GREEN {
    -fx-background-image: url("../images/assets/wood/student/SG.png");
}

.BLUE {
    -fx-background-image: url("../images/assets/wood/student/SB.png");
}

.PINK_teacher {
    -fx-background-image: url("../images/assets/wood/teacher/TP.png");
}

.RED_teacher {
    -fx-background-image: url("../images/assets/wood/teacher/TR.png");
}

.YELLOW_teacher {
    -fx-background-image: url("../images/assets/wood/teacher/TY.png");
}

.GREEN_teacher {
    -fx-background-image: url("../images/assets/wood/teacher/TG.png");
}

.BLUE_teacher {
    -fx-background-image: url("../images/assets/wood/teacher/TB.png");
}

.WHITE {
    -fx-background-image: url("../images/assets/wood/tower/TWHITE.png");
}

.BLACK {
    -fx-background-image: url("../images/assets/wood/tower/TBLACK.png");
}

.GREY {
    -fx-background-image: url("../images/assets/wood/tower/TGREY.png");
}

.MOTHER {
    -fx-background-image: url("../images/assets/wood/MM.png");
}

.island1 {
    -fx-background-image: url("../images/assets/island/1.png");
}

.island2 {
    -fx-background-image: url("../images/assets/island/2.png");
}

.island3 {
    -fx-background-image: url("../images/assets/island/3.png");
}

.cloud1{
    -fx-background-image: url("../images/assets/cloud2/1.png");
}

.cloud2{
    -fx-background-image: url("../images/assets/cloud2/2.png");
}

.cloud3{
    -fx-background-image: url("../images/assets/cloud2/3.png");
}

.a1{
    -fx-background-image: url("../images/assets/assistant/1.png");
}

.a2{
    -fx-background-image: url("../images/assets/assistant/2.png");
}

.a3{
    -fx-background-image: url("../images/assets/assistant/3.png");
}

.a4{
    -fx-background-image: url("../images/assets/assistant/4.png");
}

.a5{
    -fx-background-image: url("../images/assets/assistant/5.png");
}

.a6{
    -fx-background-image: url("../images/assets/assistant/6.png");
}

.a7{
    -fx-background-image: url("../images/assets/assistant/7.png");
}

.a8{
    -fx-background-image: url("../images/assets/assistant/8.png");
}

.a9{
    -fx-background-image: url("../images/assets/assistant/9.png");
}

.a10{
    -fx-background-image: url("../images/assets/assistant/10.png");
}

.island {
    -fx-min-width: 150px;
    -fx-min-height: 150px;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
}

.cloud {
    -fx-min-width: 90px;
    -fx-min-height: 90px;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
}

.assistant {
    -fx-min-width: 50px;
    -fx-min-height: 80px;
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.entrance{
    -fx-min-width: 60px;
    -fx-min-height: 200px;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
}

.room{
    -fx-min-width: 500px;
    -fx-min-height: 200px;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
}

.teachers{
    -fx-min-width: 30px;
    -fx-min-height: 200px;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
}

.towers{
    -fx-min-width: 120px;
    -fx-min-height: 200px;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
}

GridPane {
    -fx-hgap: 10px;
    -fx-vgap: 10px;
}

.student {

}

.table {
    -fx-background-image: none;
}

.wood {
    -fx-min-width: 30px;
    -fx-min-height: 30px;
    -fx-background-size: cover;
    -fx-color-label-visible: black;
    -fx-text-alignment: center;
    -fx-font-size: 20px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#islandGrid {
}

#dashboard {
    -fx-padding: 20px;
    -fx-background-image: url("../images/assets/Plancia.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-pref-height: 200;
    -fx-hgap: 30px;
}

#assistant {

}

#clouds {
}

#container {
    -fx-hgap: 10px;
    -fx-vgap: 10px;
}

#room {
    -fx-padding: 26px 7px;
    -fx-vgap: 25px;
}

.table {
    -fx-hgap: 8px;
}

#entrance {
    -fx-padding: 20px 0px;
    -fx-vgap: 15px;
}

#entrance > .wood {
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-background-size: 40px;
}

#teachers {
    -fx-padding: 20px 2px;
    -fx-vgap: 16px;
}

#teachers > .wood {
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-background-size: 40px;
    -fx-rotate: 30;
}

#towers {
    -fx-padding: 35px 31px;
    -fx-hgap: 20px;

}

#towers > .wood {
    -fx-min-width: 25px;
    -fx-min-height: 50px;
    -fx-background-size: contain;
}

#moreThings {
    -fx-background-color: blue;
    -fx-min-width: 20px;
}

#spacer {
}

#commands {
    -fx-background-color: gray;
}

.command {
    -fx-min-width: 40px;
    -fx-min-height: 40px;
}

.clickable:hover {
    -fx-border-color: pink;
    -fx-border-width: 3px;
    -fx-border-radius: 7px;
}

.clicked {
    -fx-border-color: fuchsia;
    -fx-border-width: 3px;
    -fx-border-radius: 7px;
}

#semaphoreNo {
    -fx-background-color: red;
    -fx-font-weight: bold;
    -fx-color-label-visible: black;
    -fx-max-width: 200;
    -fx-max-height: 200;
}

#semaphoreYes {
    -fx-background-color: green;
    -fx-font-weight: bold;
    -fx-color-label-visible: black;
    -fx-max-width: 200;
    -fx-max-height: 200;
}